.introduction {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  min-height: 350px;
  background-color: #f2f3f4;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0 rgba(46, 61, 73, 0.15);
  -webkit-box-shadow: 3px 3px 3px 0 rgba(46, 61, 73, 0.15);
  -moz-box-shadow: 3px 3px 3px 0 rgba(46, 61, 73, 0.15);
  transition: all 0.3s ease-in-out;
  flex-direction: column;
}

.introduction:hover {
  box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
  -webkit-box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
  -moz-box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
  transition: all 0.3s ease-in-out;
}

/* .introduction:hover .skills__skill_item {
  box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
  -webkit-box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
  -moz-box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
  transition: all 0.3s ease-in-out;
} */

.introduction__title_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.introduction__title-text {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.introduction__subtitle-container {
  margin-left: 12px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.introduction__subtitle-text {
  font-size: 0.9em;
  font-weight: 500;
  opacity: 0.8;
  text-align: center;
}

/* Most of the Smartphones Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
  .introduction {
    margin: 30px 10px 10px 10px;
    box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
    -webkit-box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
    -moz-box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
    transition: all 0.3s ease-in-out;
  }

  .introduction__title-text {
    font-size: 1em;
  }

  .introduction__subtitle-text {
    font-size: 0.9em;
    opacity: 1;
    font-style: normal;
  }

  .introduction__subtitle-container {
    margin: 5px;
  }

  .introduction__title_container {
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px;
  }
}

/* Tablets, iPads */
@media (min-width: 768px) and (max-width: 1024px) {
  .introduction {
    margin: 20px;
    box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
    -webkit-box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
    -moz-box-shadow: 18px 20px 30px 0 rgba(46, 61, 73, 0.15);
    transition: all 0.3s ease-in-out;
  }

  .introduction__title-text {
    font-size: 1.7em;
  }

  .introduction__subtitle-text {
    font-size: 1.5em;
    opacity: 1;
    font-style: normal;
  }

  .introduction__title_container {
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px;
  }
}
