.introduction {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  justify-content: center;
  height: 350px;
  width: '80%';
  background-color: #F2F3F4;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
}
