a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #323330;
}

a:hover .fa {
  /* color: blue; */
}

.links_container {
  display: flex;
  color: #323330;
}

.links_content {
  margin: 20px;
}

.fa-github {
  color: #323330;
  text-shadow: 3px 3px 3px #ccc;
}

.fa-linkedin {
  color: #0077b5;
  text-shadow: 3px 3px 3px #ccc;
}

.fa-twitter {
  color: #55acee;
  text-shadow: 3px 3px 3px #ccc;
}

.links_content:right {
  content: " ";
  display: block;
  border-bottom: 1px solid #323330;
}

.separator {
  height: 3px;
  width: 70px;
  margin-top: 30px;
  border-bottom: 1px solid #323330;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px #ccc;
  -moz-box-shadow: 3px 3px 3px #ccc;
}

/* Most of the Smartphones Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
  .separator {
    display: none;
  }
}
