.home {
  padding: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0db4f;
}

.home > .content {
  width: 100vw;
}

/* Hi-res Desktops */
@media (min-width: 1281px) {
  .home > .content {
    width: 60vw;
  }
}

/* Tablets, iPads */
@media (min-width: 768px) and (max-width: 1024px) {
  .home > .content {
    width: 80vw;
  }
}

/* Most of the Smartphones Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
  .home {
    padding: 12px;
    align-items: center;
    justify-content: center;
  }
}
